*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.icon-bar {
    display: inline-flexbox;
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
  }
  
  .icon-bar a {
    display: inline-flexbox;
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 16.6666%;
    padding: 12px ; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: rgb(226,226,226); /* White text color */
    font-size: 17px; /* Increased font size */
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .icon-bar a:hover {
    background-color: #000; /* Add a hover color */
  }
  
  #main-header{
      background-image: url('/assets/traces1.jpg');
    }

/*style rechercher*/
  #slider {
    display:flex;
    position:absolute;
    width: 350px;
    height: 33px;
    margin: -500px 0px;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}
#slider input{
  border-radius:15px ;
  padding: 18px;
  width: 100%;
  margin: 10px 0;
}
#slider button[type="submit"]{
  position:center;
  background-color: #04AA6D;
  color: rgb(226,226,226);
  padding: 18px 15px;
  border: 12px black;
  border-radius: 15px;
  margin: 10px ;

}
/*animation rechercher*/
.slide-in {
    animation: slide-in 1.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateX(67.5%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(60%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

/*style seconnecter*/

#sr{
  display:flex;
  position: relative;
  width: 350px;
  height: 450px;
  margin: -480px 0px ;
  border-radius: 40px;
  box-shadow: 12px 12px 24px 0px rgb(0,0,0,0.2),-12px -12px 24px 0 rgba(255,255, 255, 1) ;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  background-color:#e0e0e0 ;
}
a{
  text-decoration: none;
}
.signin-sign-up{
  display: grid;
  grid-template-columns: 1fr;
}
form:not(#slider) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form.sign-up-form{
  visibility: hidden ;
}
.title{
  font: size 35px; 
  color:#04AA6D;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.input-field{
  width:280px;
  height: 50px;
  margin: 10px ;
  background: #e0e0e0;
  border-radius: 40px;
  display: flex;
  align-items: center;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),inset -6px -6px 10px 0 rgba(255,255, 255, 0.5);

}
.input-field i{
  flex: 1.2;
  text-align: center;
  font-size: 20px;
  color: #999;
}
.input-field input{
  flex: 5;
  width: 100%;
  color: #999;
  font-size: 18px;
  font-weight: 600;
  border: none;
  outline: none;
  background:none;
}
.input-field input::placeholder{
  color:#999;
}
p, a{
  font-size:14px ;
  color: #999;
}

.forgot-password{
  align-self:flex-end ;
}

.btn{
  width: 130px;
  height: 45px;
  background: #e0e0e0;
  outline: none;
  border:none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin:20px 0;
  color: #04AA6D;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2), -12px -12px 24px 0 rgba(255,255, 255, 1);

}

.account-text{
  color: #04AA6D;
}

#sr.sign-up-mode form.sign-in-form{
  visibility: hidden;
}
#sr.sign-up-mode form.sign-up-form{
  visibility: visible;
}
/*animation seconnecter*/

.si{
  animation: si 1.5s forwards;
  -webkit-animation: si 0.5s forwards;
}

.so {
  animation: so 1.5s forwards;
  -webkit-animation: so 0.5s forwards;
}
  
@keyframes si {
  100% { transform: translateX(277%); }
}

@-webkit-keyframes si {
  100% { -webkit-transform: translateX(0%); }
}
  
@keyframes so {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@-webkit-keyframes so {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-100%); }
}

/*styling menu*/
#tab {
  display:grid;
  float:left;
  margin: -35px 500px;
  position: relative;
  width: 300px;
  height: 220px;
  border-radius: 40px;
  box-shadow: 12px 12px 24px 0px rgb(0,0,0,0.2),-12px -12px 24px 0 rgba(255,255, 255, 1) ;
  align-items: center;
  justify-content: center;

  background-color:#e0e0e0 ;
}

/* Style the buttons that are used to open the tab content */
#tab button {
  display: block;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  font-size: inherit;
  text-decoration: none;
  background-color: inherit;
  color: rgb(66, 66, 66);
  padding: 22px 16px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
#tab button:hover {
  background-color: rgb(53, 51, 51);
  color: rgb(226,226,226);
}

/* Create an active/current "tab button" class */
#tab button.active {
  background-color: #04AA6D;
  color: rgb(226,226,226);

}

/* Style the tab content */

.tabcontent  {
  display: none;
  position: relative;
  float: left;
  margin: -25px -500px;
  padding: 20px 20px;
  border-radius: 40px;
  box-shadow: 12px 12px 24px 0px rgb(0,0,0,0.2),-12px -12px 24px 0 rgba(255,255, 255, 1) ;
  align-items: grid;
  justify-content: center;
  background-color:#e0e0e0 ;
  width: 350px;
  height: 200px;
}
.tabcontent textarea {
  padding: 8px;
  height: 90px;
  width: 300px;
}
.tabcontent label{
  display: block;
  padding-bottom:10px;
}
.tabcontent form button {
  font-size: 20px;
  height: 20px;
  width: 100px;
  padding-bottom: 35px;
}

.tabcontent p{
  display: block;
  padding-top:10px;
}
.tabcontent button{
  display: block;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  font-size: inherit;
  text-decoration: none;
  background-color: inherit;
  color: rgb(66, 66, 66);
  padding: 22px 16px;
  width: 100%;
  height: 30%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  
}

.tabcontent button:hover {
  background-color: rgb(53, 51, 51);
  color: rgb(226,226,226);
}


/*animation menu */
.ajilhna{
  animation: aji 1.5s forwards;
  -webkit-animation: aji 0.5s forwards;
}

.sirlhih {
  animation: sir 1.5s forwards;
  -webkit-animation: sir 0.5s forwards;
}
  
@keyframes aji {
  100% { transform: translateX(-5%); }
}

@-webkit-keyframes aji {
  100% { -webkit-transform: translateX(0%); }
}
  
@keyframes sir {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-400%); }
}

@-webkit-keyframes sir {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-1000%); }
}
.contenttab{
  display:grid ;
}
/*style contact*/
#ctct{
  float: left;
  text-align: center;
  margin: -190px 1275px;
  padding: 45px 20px;
  border-radius: 40px;
  box-shadow: 12px 12px 24px 0px rgb(0,0,0,0.2),-12px -12px 24px 0 rgba(255,255, 255, 1) ;
  align-items: grid;
  justify-content: center;
  background-color:#e0e0e0 ;
  width: 15%;
  height: 150px;
}
/*animation contact*/
.show{
  animation: sh 1.5s forwards;
  -webkit-animation: sh 0.5s forwards;
}

.hide {
  animation: hh 1.5s forwards;
  -webkit-animation: hh 0.5s forwards;
}
  
@keyframes sh {
  100% { transform: translateX(-5%); }
}

@-webkit-keyframes sh {
  100% { -webkit-transform: translateX(0%); }
}
  
@keyframes hh {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-700%); }
}

@-webkit-keyframes hh {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-1000%); }
}
/*slide show*/
/* Slideshow container */
.slideshow-container {
  max-width: 1260px;
  position: relative;
  margin: auto;
  margin-top: 0px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:rgb(226,226,226);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  position: absolute; /* Position the background text */
  bottom: 00; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: rgb(226,226,226); /* Grey text */
  width: 100%; /* Full width */
  height: 40%;
  font-size:40px;

}
.text a{
  width: 100%; /* Full width */
  margin: auto;
  font-size:40px;
  color:rgb(226,226,226) ;
}
.text p{
  font-size: 50px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*catego*/
.row{
  display:inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.catego-down{
  margin:450px 120px;
}
.col1{
  flex-basis: 30%;
  min-width: 250px;
}



.col1 img{
  width: 100%;
  border-radius: 10px;
  box-shadow: 12px 12px 24px 0px rgb(0,0,0,0.2),-12px -12px 24px 0 rgba(255,255, 255, 1) ;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col1 h4{
  position: relative; /* Position the background text */
  bottom: 00; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: rgb(226,226,226); /* Grey text */
  width: 100%; /* Full width */
  font-size:40px;
  text-align: center;
}
.col2{
  flex-basis: 48%;
  min-width: 500px;
  margin-top:-360px ;
  margin-bottom: 0px;
}
.col2 img{
  width: 100%;
  border-radius: 10px;
  box-shadow: 12px 12px 24px 0px rgb(0,0,0,0.2),-12px -12px 24px 0 rgba(255,255, 255, 1) ;
}
#txt2{
  text-align: center;
  padding: 0px 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 12px 12px 24px 0px rgb(0,0,0,0.2),-12px -12px 24px 0 rgba(255,255, 255, 1) ;
  align-items: grid;
  justify-content: center;
  background-color:#e0e0e0 ;
  height: 370px;
  font-weight:300;  
}
#txt2 p{
  font-size: 18px;
  color: rgba(85, 85, 85, 0.863);
  padding-bottom: 7px;
}
.col2 h3{
  position: relative; /* Position the background text */
  bottom: 00; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: rgb(226,226,226); /* Grey text */
  width: 100%; /* Full width */
  font-size:30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 12px 12px 24px 0px rgb(0,0,0,0.2),-12px -12px 24px 0 rgba(255,255, 255, 1) ;
}
.col2 h4{
  position: relative; /* Position the background text */
  bottom: 00; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(143, 107, 107, 0.363); /* Black background with 0.5 opacity */
  color: aliceblue;
  width: 100%; /* Full width */
  font-size:30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 12px 12px 24px 0px rgb(0,0,0,0.2),-12px -12px 24px 0 rgba(255,255, 255, 1) ;
}
 #tips{
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(143, 107, 107, 0.363); /* Black background with 0.5 opacity */
  color: aliceblue;
  border-radius: 3px;
}
.missing{
  position: relative;
  width:700px;
  max-width: 800px;
  margin: 30px 0 0 430px; 
  border-radius: 10px;
  box-shadow: 12px 12px 24px 0px rgb(0,0,0,0.2),-12px -12px 24px 0 rgba(255,255, 255, 1) ;
}
.missing img {
  border-radius: 10px;
  box-shadow: 12px 12px 24px 0px rgb(0,0,0,0.2),-12px -12px 24px 0 rgba(255,255, 255, 1) ;

}
.missing .content-missing{
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  border-radius: 10px;
}
.missing h1{
  font-style: 70px;
  font-weight: 700;
  color:rgb(226,226,226);
  padding-bottom:5px ;
}
.missing h4{
  padding: 3px;
  font-size: 19px;
  color:rgb(226,226,226);
}





/*footer*/
html, body {
  height: 100%
}
.flex-rw {
	font: 11px "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 1566px;
	margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  text-align: center;
}
ul {
  list-style: none
}
a {
  text-decoration: none
}

.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

footer {
  justify-content: center;
  background: rgb(55,55,55);
  margin-top: auto;
}
.footer-list-top {
  width: 33.333%
}
.footer-list-top  .li {
  text-align: center;
  padding-bottom: 10px
}
.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 2.3vw "Oswald", sans-serif
}
.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif
}
.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid ;
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: rgb(55,55,55);
  padding: 0 20px
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: #fff;
}
.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px;
}
.footer-social-overlap > a {
  font-size: 3em
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid;
}
.footer-bottom-section > div:first-child {
  margin-right: auto
}
.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff;
}
.footer-address {
  display: inline;
  font-style: normal
}
@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em
  }
  .footer-list-anchor {
    font-size: 1.1em
  }
  .footer-social-connect {
    font-size: 2.5em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em
  }
  .footer-list-top {
    width: 100%
  }
  .footer-list-header {
    font-size: 3em;
  }
  .footer-list-anchor {
    font-size: 1.5em
  }
  .footer-social-section {
    justify-content: center
  }
  .footer-social-section::after {
    top: 25%
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
  .footer-bottom-section {
    padding: 0 5px 10px 5px
  }
  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
  .footer-bottom-rights {
    display: block
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em
  }
  .footer-list-anchor {
    font-size: 1.2em
  }
  .footer-social-connect {
    font-size: 2.4em
  }
  .footer-social-overlap  a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
.footer-social-section flex-rw{
  margin-top: 70px;
}

/*produits*/
.johnny {
  font: size 50000000%;
  width: 1900px;
  margin-top: -500000px;
  margin-left: -350px;
}